/* style.css */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.imgContainer {
    flex: 0 0 50%;
    max-width: 50%;
}

.imgContainer img {
    width: 100%;
    height: auto;
}

.content {
    flex: 0 0 50%;
    max-width: 50%;
}

.contactContainer {
    text-align: left;
    padding: 30px;
}

.contactContainer form {
    margin: 20px;
}

#prediction-result {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #ccc;
    padding: 10px;
}

.buttonHolder {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 24px); 
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 1.5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"],
button {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1.5px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover,
button:hover {
    background-color: white;
    color: gray;
}

.prediction-box {
    border: 2px solid #ccc;
    padding: 8px;
    margin-top: 16px;
}