/* style.css */
body {
    background-color: #f8f9fa;
    font-family: 'Roboto',sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.imgContainer {
    flex: 0 0 50%;
    max-width: 50%;
}

.imgContainer img {
    width: 100%;
    height: auto;
}

.content {
    flex: 0 0 50%;
    max-width: 50%;
}

.contactContainer {
    text-align: left;
    padding: 30px;
}

.contactContainer form {
    margin: 20px;
}

#prediction-result {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #007bff;
    padding: 10px;
    background-color: #f0f8ff;
}

.buttonHolder {
    text-align: center;
}

input[type="text"] {
    width: 100%; 
    padding: 6px;
    border: 1px solid #ced4da;
    border-radius: 1.5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
}

input[type="submit"],
button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1.5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

.prediction-box {
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    padding: 8px;
    margin-top: 16px;
}